
  
  header {
    padding: 25px 15px;
  }
  
  #login_form {
    display: flex;
    background-color: rgb(52, 1, 146);
    opacity: 0.9;
    flex-direction: column;
    width: 80%;
    margin-top: -10px;
    max-width: 500px;
    color: white;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 10px;
    align-content: center;
    justify-content: center;
    border-radius: .3em;
    box-shadow: 0 10px 12px 1px black;
    z-index: 100;
  }

  .banner {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .app__header {
    font-family: 'Coda';
    display: flex;
    align-self: center;
    margin-top: -15px;
    background-color: black;
    padding: 0;
    width: fit-content;
  
  }

  .login_input {
    width: 60%;
    align-self: center;
    margin-bottom: 5px;
  }

  .login_section {
    display: flex;
    
    justify-content: center;
  }

  .app__title {
    font-family: 'Faster One', cursive;
    font-size: 50px;
  }

  .login_button {
    color: black;
    background-color: white;
    width: 40%;
    align-self: center;
    font-size: calc(12px + .2vw);
    padding: calc(6px - .2vw);
    margin: 20px;
  }
   #register {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 0 auto;
     margin-top: 30px;
     height: 40vh;
     background-color: black;
     padding-bottom: 20px;
     opacity: 0.95;
     color: white;
   }

  #main-registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 100vh;
    background-size: contain;
    background-image: url('https://i.imgur.com/D4C9FZW.jpg');
  }

  .register_button {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 10px;
    
  }



