
  
  header {
    padding: 25px 15px;
  }
  
  #login_form {
    display: flex;
    background-color: rgb(52, 1, 146);
    opacity: 0.9;
    flex-direction: column;
    width: 80%;
    margin-top: -40px;
    font-size: calc(20px + .5vw);
    max-width: 500px;
    color: white;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 10px;
    align-content: center;
    justify-content: center;
    border-radius: .3em;
    box-shadow: 0 10px 12px 1px black;
    z-index: 100;
  }

  .userRegistrationForm {
    font-size: calc(20px + .5vw);
  }
  .banner {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .app__header {
    font-family: 'Coda';
    display: flex;
    margin-bottom: 5px;
    font-size: calc(20px + .5vw);
    align-self: center;
    margin-top: -15px;
    background-color: black;
    padding: 0;
    width: fit-content;
  
  }

  .login_input {
    width: 60%;
    float: right;
    align-self: center;
    margin-bottom: 5px;
  }

  .login_input::placeholder {
    font-weight: bold;
  }

  .login_section {
    display: flex;
    
    justify-content: center;
  }

  .app__title {
    font-family: 'Faster One', cursive;
    font-size: calc(40px + 1vw);
    letter-spacing: .2em;
  }

  .errorMsg {
    font-size: 15px;
  }

  .login_button {
    color: white;
    border: 3px solid white;
    background-color: black;
    width: 30%;
    align-self: center;
    font-size: calc(15px + .5vw);
    font-weight: 600;
    padding: calc(6px - .2vw);
    margin: 20px;
  }

  .login_button:hover {
    cursor: pointer;
  }
   #register {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 0 auto;
     margin-top: 30px;
     height: 40vh;
     background-color: black;
     padding-bottom: 20px;
     opacity: 0.95;
     color: white;
   }

   .email_label {
     margin-right: 57px;
   }

   .registration_forminput {
     margin-left: 10px;
     font-size: 15px;
   }

   .login_section, #register {
     font-family: 'Gugi';
   }

  #main-registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 102vh;
    margin-bottom: -10px;
    margin-top: -20px;
    background-size: contain;
    background-image: url('https://i.imgur.com/D4C9FZW.jpg');
  }

  .register_button {
    color: white;
    border: 3px solid white;
    background-color: black;
    margin-top: 25px;
    width: 30%;
    align-self: center;
    font-size: calc(15px + .5vw);
    font-weight: 600;
    padding: calc(6px - .2vw);
    
  }

  .register_button:hover {
    cursor: pointer;
  }



