
  
  header {
    padding: 25px 15px;
  }
  
  #login_form {
    display: flex;
    background-color: rgb(52, 1, 146);
    opacity: 0.9;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-top: -30px;
    font-size: calc(15px + .5vw);
    max-width: 500px;
    color: white;
    align-self: center;
    /* padding-top: 35px; */
    padding-bottom: 15px;
    align-content: center;
    justify-content: space-evenly;
    border-radius: .3em;
    box-shadow: 0 10px 12px 1px black;
    z-index: 100;
  }

  #login_form:nth-child(1) {
    padding: 5px;
  }

  .banner {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .app__header {
    font-family: 'Coda';
    display: flex;
    margin-bottom: 5px;
    font-size: calc(18px + .5vw);
    align-self: center;
    margin-top: -15px;
    background-color: black;
    padding: 0;
    width: fit-content;
  
  }

  .login_input {
    width: 60%;
    float: right;
    align-self: center;
    margin-bottom: 5px;
  }

  .login_input::placeholder {
    font-weight: bold;
  }

  .login_section {
    display: flex;
    height: calc(25% + 1vw);
    justify-content: center;
  }

  .app__title {
    font-family: 'Faster One', cursive;
    font-size: calc(30px + 1vw);
    letter-spacing: .2em;
  }

  .errorMsg {
    font-size: 15px;
  }

  .successMsg {
    font-size: 15px;
    margin-top: 10px;
  }

  .login_button {
    color: white;
    border: 3px solid white;
    background-color: black;
    width: 30%;
    align-self: center;
    font-size: calc(10px + .5vw);
    font-weight: 600;
    padding: 5px;
    /* margin-bottom: 15px;
    margin-top: 5px; */
  }

  .login_button:hover {
    cursor: pointer;
  }
   #register {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 0 auto;
     margin-top: -10px;
     height: 40vh;
     background-color: black;
     padding-bottom: 20px;
     opacity: 0.95;
     color: white;
   }
   .username_div, .password_section {
     display: inline-flex;
     flex-direction: column;
     margin-bottom: -10px;
   }

   .email_label {
     margin-right: 40px;
     margin-left: 6px;
   }

   .registration_forminput {
     margin-left: 10px;
     font-size: calc(12px + .4vw);
   }

   .registration__header {
     font-size: calc(18px + .5vw)
   }

   .login_section, #register {
     font-family: 'Gugi';
   }

  #main-registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 102vh;
    margin-bottom: -10px;
    margin-top: -20px;
    background-size: contain;
    background-image: url('https://i.imgur.com/D4C9FZW.jpg');
  }

  .register_button {
    color: white;
    border: 3px solid white;
    background-color: black;
    margin-top: 25px;
    width: 30%;
    align-self: center;
    font-size: calc(15px + .5vw);
    font-weight: 600;
    padding: calc(6px - .2vw);
    
  }

  .register_button:hover {
    cursor: pointer;
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  {
    #login_form {
      opacity: 1.0;
      height: 100%;
      margin-top: -50px;;
      padding-top: 5px;;
    }
    .login_button {
      margin-top: 10px;;
      font-size: 12px;
      padding: 8px;
    }


  }

