* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .div_main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
  }

  .form__header {
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    color: white;
    font-size: calc(15px + 1vw);
  }

  #title {
    width: 150px;
  }
  .submit_button {
    width: 20%;
    align-self: center;
  }
  .title_section {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .title_input {
    margin-left: 17px;
    font-size: 17px;
    /* font-size: calc(10px + 1vw); */
  }

  .watch-form {
    display: flex;
    font-family: 'Coda';
    
    background-image: url('https://i.imgur.com/D4C9FZW.jpg');
    background-size: contain;
    flex-direction: column;
    color: white;
    line-height: 2em;
    /* margin-top: 20px; */
    height: 300px;
    /* margin-bottom: 20px; */
    
    
  }

  .form__section {
    background-color: black;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 300px;
    width: calc(50% - 10vw);
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .form__section {
      width: 70%;
      height: 200px;
      font-size: 15px;
    }
    .title_section {
      margin: 0;
    }
    .watch-form {
      height: 200px;
      padding: 0;
    }
    .submit_button {
      width: 30%;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .form__header {
      margin-bottom: 0;
    }
  }


  