
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }


  .nav__title {
    font-family: 'Faster One';
    display: flex;
    align-self: flex-start;
    padding: 5px;
  }

  .logout_button {
      display: flex;
      justify-self: flex-end;
      background-color: black;
      color: white;
      font-size: calc(12px + .5vw);
      padding: 5px;
      margin-top: 5px;
  }

  .logout_button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }